{% extends "partials/layout.html" %}

{% set page = "Goals" %}
{% set title = "Goals" %}
{% set description = "Esta é a Flip Investimentos" %}

{% block content %}
<main>
    <section>
        <div class="banner bg bg-shadow" style="background-image: url(../assets/images/banners/banner-home.jpg)">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-10 col-12">
                        <div class="banner-box">
                            <h1 class="color-white">Planos</h1>
                            <h3 class="color-white">Confira informacoes sobre investimentos.</h3>
                        </div>
                    </div>
                </div>
            </div>   
       </div>
    </section>
    <section class="py-lg-96 py-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container slider-goals">
                        <div class="swiper-wrapper align-items-center">
                            {% for slide in range (0,5) %}
                            <div class="swiper-slide">
                                {% include "./partials/card-goal.html" %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination position-static mt-15"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}