{% extends "partials/layout.html" %}

{% set page = "My Wallet" %}
{% set title = "My Wallet" %}
{% set description = "Esta é a Flip Investimentos" %}

{% block content %}
<main>
    <section>
        <div class="banner bg bg-shadow" style="background-image: url(../assets/images/banners/banner-home.jpg)">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-10 col-12">
                        <div class="banner-box">
                            <h1 class="color-white">Sua carteira</h1>
                            <h3 class="color-white">Confira a sua carteira da Flip investimentos.</h3>
                        </div>
                    </div>
                </div>
            </div>   
       </div>
    </section>
    <section class="pt-lg-96 pt-42 pb-lg-69 pb-27">
        <div class="container">
            <div class="row">
                {% for card in range(0,12) %}
                    <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                        {% include './partials/card-wallet.html' %}
                    </div>    
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}