{% extends "partials/layout.html" %}

{% set page = "post" %}
{% set title = "post" %}
{% set description = "Esta é a Flip Investimentos" %}

{% block content %}
<main>
    <section>
        <div class="banner bg bg-shadow" style="background-image: url(../assets/images/banners/iStock.jpg)">
            <div class="container h-100">
                <div class="row align-items-center h-100">
                    <div class="col-lg-10 col-12">
                        <div class="banner-box">
                            <h1 class="color-white">Blog</h1>
                            <h3 class="color-white">Confira as ultimas novidades sobre a Flip Investimentos.</h3>
                        </div>
                    </div>
                </div>
            </div>   
       </div>
    </section>
    <section class="pt-85 pb-25">
        <div class="container">
            <div class="row">
                {% for post in range(0,6) %}
                <div class="col-12">
                    <article class="single-post-content">
                        <h2><strong>Lorem Ipsum is simply dummy text</strong></h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p> 
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}