<div class="card-blog">
    <div class="card-blog-content">
        <div class="card-blog-header mb-40">
            <a href="post.html" aria-label="blog-link">
                <div class="card-blog-img" style="background-image: url(../assets/images/banners/iStock.jpg)"></div>
            </a>
        </div>
        <div class="card-blog-body">
            <span class="card-blog-category mb-10">Como começar e Onde investir</span>
            <h3 class="card-blog-title mb-10">Fundos de Investimento Imobiliário (FII) : O que são FIIs e como investir? (Guia Completo)</h3>
        </div>
        <div class="card-blog-footer">
            <div class="d-flex align-items-center justify-content-between">
                <span class="card-blog-date">03/11/2019 - 8:00</span>
                <a class="link" href="#">Leia mais</a>
            </div>
        </div>
    </div>
</div>