<div class="card-goal">
    <div class="card-goal-header">
        <h2 class="card-goal-title card-goal-text">B3SA3</h2>
    </div>
    <div class="card-goal-body">
            <p class="card-goal-action card-goal-text">Potencial Lucro</p>
            <p class="card-goal-value card-goal-text">+21,00%</p>
    </div>
    <div class="card-goal-footer">
        <div class="card-goal-item mb-5">
            <p class="card-goal-label card-goal-text">Você ganha se o</p>
            <p class="card-goal-description card-goal-text">Preco subir</p>
        </div>
        <div class="card-goal-item mb-5">
            <p class="card-goal-label card-goal-text">Investir a partir de</p>
            <p class="card-goal-description card-goal-text">R$ 4.980,00</p>
        </div>
        <div class="card-goal-item">
            <p class="card-goal-label card-goal-text">Duração estimada</p>
            <p class="card-goal-description card-goal-text">1 ano</p>
        </div>
    </div>
</div>