<div class="card-goal">
    <div class="card-goal-header">
        <h2 class="card-goal-title card-goal-text">B3SA3</h2>
    </div>
    <div class="card-goal-body">
        <ul class="list-unstyled mb-0">
            {% for item in range(0,3) %}
            <li class="card-goal-item {% if item != 3 %} mb-5{% endif %}">
                <p class="card-goal-label card-goal-text">Item {{ item }}</p>
                <p class="card-goal-description card-goal-text">Texto {{ item }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-goal-footer">
        <button class="btn btn-block btn-yellow btn-xl">Quero comprar</button>
    </div>
</div>