
<header class="header">
    <nav class="header-navbar">
        <div class="header-item d-lg-none">
            <a href="#sidenav" data-toggle="modal" aria-label="sidenav">
                <img class="lozad" width="18" data-src="../assets/images/icons/menu.svg" alt="menu">
            </a>
        </div>
        <div class="header-item d-lg-inline-block d-none">
            <a href="index.html">
                <img width="103" class="lozad" data-src="../assets/images/logos/logo.png">
            </a>
        </div>
        <ul class="header-item list-unstyled mb-0 d-flex">
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="index.html">Home</a>
            </li>
            <li>    
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="goals.html">Planos</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="#">Calculadora</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="blog.html">Blog</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="about.html">Sobre</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow" href="login.html">Login</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-btn btn btn-lg btn-txt-yellow" href="./pages/login.html">Meu acesso</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-link" href="video.html">Videos</a>
                    <a class="dropdown-link" href="podcast.html">PodCast</a>
                    <a class="dropdown-link" href="#">Notificações</a>
                    <a class="dropdown-link" href="my-wallet.html">Sua carteira</a>
                    <a class="dropdown-link" href="#">Carteira recomendada</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

