<!-- Meta tags -->
<meta content="origin">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="{{description}}">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="theme-color" content="#FF0016">

<!-- Title -->
<title>{{title}}</title>

<!-- Favicon -->
<link rel="icon" type="image/svg" href="../assets/img/logos/favicon.png">

<!-- Link Canonical -->
<link rel="canonical" href="localhost"/>

<!-- Fonts -->
<link rel="preload" crossorigin="anonymous" href="../assets/fonts/roboto-regular.woff2" as="font">
<link rel="preload" crossorigin="anonymous" href="../assets/fonts/roboto-bold.woff2" as="font">
<link rel="preload" crossorigin="anonymous" href="../assets/fonts/robotoslab-regular.woff2" as="font">
<link rel="preload" crossorigin="anonymous" href="../assets/fonts/robotoslab-bold.woff2" as="font">

<!-- Styles -->
<!-- build:css ../assets/css/styles.min.css -->
<link media="all" rel="stylesheet" href="assets/css/styles.css">
<!-- endbuild -->

<!-- Scripts -->
<!-- build:js ../assets/js/bundle.min.js -->
<script sync defer src="assets/js/lazyload.js"></script>
<script sync defer src="assets/js/jquery.js"></script>
<script sync defer src="assets/js/bootstrap.js"></script>
<script sync defer src="assets/js/swiper.js"></script>
<script sync defer src="assets/js/bundle.js"></script>
<!-- endbuild -->