
<header class="header">
    <nav class="header-navbar">
        <div class="header-item d-lg-none">
            <a href="#sidenav" data-toggle="modal" aria-label="sidenav">
                <img class="lozad" width="18" data-src="/assets/images/icons/menu.svg" alt="menu">
            </a>
        </div>
        <div class="header-item d-lg-inline-block d-none">
            <img width="140" class="lozad" data-src="/assets/images/logos/logo.png">
        </div>
        <ul class="header-item list-unstyled mb-0 d-flex">
            <li>
                <a class="btn btn-lg d-lg-inline-block d-none" href="http://localhost:3000">Home</a>
            </li>
            <li>
                <a class="btn btn-lg d-lg-inline-block d-none" href="#">Planos</a>
            </li>
            <li>    
                <a class="btn btn-lg d-lg-inline-block d-none" href="#">Planos</a>
            </li>
            <li>
                <a class="btn btn-lg d-lg-inline-block d-none" href="#">Calculadora</a>
            </li>
            <li>
                <a class="btn btn-lg d-lg-inline-block d-none" href="#">Blog</a>
            </li>
            <li>
                <a class="btn btn-lg d-lg-inline-block d-none" href="#">Sobre</a>
            </li>
            <li>
                <a class="btn btn-lg" href="./pages/login.html">Login</a>
            </li>
            <li class="dropdown d-none">
                <a class="btn btn-lg" href="./pages/login.html">Meu acesso</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Videos</a>
                    <a class="dropdown-item" href="#">PodCast</a>
                    <a class="dropdown-item" href="#">Notificações</a>
                    <a class="dropdown-item" href="#">Sua carteira</a>
                    <a class="dropdown-item" href="#">Carteira recomendada</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

