
<header class="header">
    <nav class="header-navbar">
        <div class="header-item d-lg-none">
            <div class="header-mobile-menu-open">
                <a href="#sidenav" data-toggle="modal">
                    <img width="18" src="/assets/images/icons/menu.svg">
                </a>
            </div>
        </div>
        <div class="header-item d-lg-inline-block d-none">
            <img src="/assets/images/logos/logo.svg">
        </div>
        <div class="header-item">
            <a class="btn btn-lg d-lg-inline-block d-none" href="#">Home</a>
            <a class="btn btn-lg d-lg-inline-block d-none" href="#">Planos</a>
            <a class="btn btn-lg d-lg-inline-block d-none" href="#">Calculadora</a>
            <a class="btn btn-lg d-lg-inline-block d-none" href="#">Blog</a>
            <a class="btn btn-lg d-lg-inline-block d-none" href="#">Sobre</a>
            <a class="btn btn-lg" href="pages/login.html">Login</a>
        </div>
    </nav>
</header>

