<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Meta tags -->
	<meta content="origin">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="Description" content="{{description}}">
	<meta http-equiv="Content-Language" content="pt-br">
    <meta name="theme-color" content="#FF0016">
	
	<!-- Title -->
	<title>{{title}}</title>

	<!-- Favicon -->
	<link rel="icon" type="image/svg" href="../assets/img/logos/favicon.png">

	<!-- Link Canonical -->
	<link rel="canonical" href="localhost"/>

	<!-- Style -->
	<link media="all" rel="stylesheet" href="../assets/css/styles.min.css">

	<!-- Fonts -->
	<link rel="preload" crossorigin="anonymous" href="../assets/fonts/roboto-regular.woff2" as="font">
	<link rel="preload" crossorigin="anonymous" href="../assets/fonts/roboto-bold.woff2" as="font">
	<link rel="preload" crossorigin="anonymous" href="../assets/fonts/robotoslab-regular.woff2" as="font">
	<link rel="preload" crossorigin="anonymous" href="../assets/fonts/robotoslab-bold.woff2" as="font">

    <!-- Script -->
    <script sync defer src="../assets/js/bundle.min.js"></script>
<body>
	{% include "./header.html" %}
	{% include "./sidenav.html" %}
	{% block content %}{% endblock %}
</body>
</html>