.bg{
    background-size: cover;
    background-position: center;
}

.bg-shadow{
    &:before,
    &-inverse:after{
        background-image: url(../images/shadows/shadow.png);
        background-size: cover;
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 237px;
        @media (min-width:1500px){
            height: 316px;
        }
        width: 100%;
        z-index: 2;
    }
    &:before{
        top: 0;
    }
    &-inverse:after{
        bottom: 0;
        transform: rotate(180deg);
    }   
}

.banner{
    &{
        height: 500px;
    }
    &-box{
        background-color: rgba(0,0,0,0.5);
        padding: 30px;
    }
}


