.footer{
    &{
        background-color: $gray-200;
        padding-top: 56px;
        padding-bottom: 48px;
        
        @include media-breakpoint-up(lg){
            padding-top: 96px;
            padding-bottom: 72px;
        }
    }
    &-copyright p{
        color: $white;
        font-size: 0.7rem;
    }

    & a{
        &{
            color: $black;
            font-family: $familyRoboto;
            font-size: 1.5rem;
            display: flex;
            letter-spacing: 0;
            line-height: 2.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover,
        &:focus{
            text-decoration: underline;
        }

        @include media-breakpoint-up(lg){
            font-size: 1.25rem; 
            line-height: 2rem;
        }
        
    }

}

