.nav-tabs-custom{
    &{
        border: none;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-up(lg){
            flex-direction: row
        }
    }
    & .nav-link{
        &{
            background-color: transparent;
            border: 1px solid $yellow-200;
            border-radius: 2px;
            color: $black;
            display: inline-block;
            font-size: 1rem;
            padding: 10px 20px;
            text-align: center
        }
        &.active,
        &:hover{
            background-color: $yellow-200;
            border: 1px solid $yellow-200;
        }
    }
}