h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
    letter-spacing: 0;
}

h1{
    font-size: 3rem;
    font-family: $familyRobotoslab;
    line-height: 3rem;
    font-weight: 700;
    @include media-breakpoint-up(lg){
        font-size: 5rem;
        line-height: 5rem;
    }
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-family: $familyRoboto;
    font-weight: 400;
    @include media-breakpoint-up(lg){
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.title{
    &{
        font-family: $familyRobotoslab;
        font-weight: 700;
    }
    &-lg{
        @include media-breakpoint-up(lg){
            font-size: 4rem;
        }
    }
    &-border-bottom{
        &{
            position: relative;
        }
        &:after{
            background-color: $yellow-200;
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            height: 5px;
            width: 65px
        }
    }
}

.text{
    &{
        font-size: 1.25rem;
    }
    &-lg{
        font-size: 1.5rem;
    }
}

.single-post-content{
    & p {
        font-size: 1.25rem;
        font-family: $familyRoboto;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        @media (min-width:480px){
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    & h2{
        font-size: 3rem;
        font-family: $familyRobotoslab;
        font-size: 2.25rem;
        margin-top: 48px;
        margin-bottom: 30px;
        line-height: 2.25rem;
        @include media-breakpoint-up(lg){
            font-size: 3rem;
            line-height: 3rem;
        }
    }
    
}
