.section{
    &-header{
        &-conteiner{
            text-align: center;
            padding: 20px 0;
            background-color: rgba(255,255,255,0.1);
        }
        a{
            font-family: 'Poppins', sans-serif;
            padding: 10px;
            font-size: 16px;
            text-decoration: none;
            color: rgba($color: #ffcb00, $alpha: 0.7);
            text-transform: uppercase;
            &:hover{
                color: rgba($color: #ffcb00, $alpha: 1.0);
            }
        }
    }
}