{% set bodyClass = "home" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="stylesheet" href="assets/css/common/common.min.css">
    <link rel="stylesheet" href="assets/css/swiper-4.5.min.css">
    <title>Fip Investimentos</title>
</head>

<body>

    {% include "partials/header.html" %}
    <main>
        <section class="content-banner">
            <section class="section-banner">
                <!-- Slider main container -->
                <div class="swiper-container swiper-banner-home">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <img class="banner-desktop" width="100%" src="assets/img/home/banner-acao-futuros-desktop.jpg"
                            alt="Banner Principal">
                        <img class="banner-mobile" width="100%" src="assets/img/home/banner-acao-futuros-mobile.jpg"
                            alt="Banner Principal">

                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </section>
        </section>
    </main>

    {% include "partials/footer.html" %}
</body>
<script src="assets/js/swiper-4.5.0-min.js"></script>
<script>
    var swiper = new Swiper('.swiper-banner-home');
</script>

</html>